@import 'fontfaces';

body {
    font-family: 'CorporateARegular', Georgia, "Times New Roman", Times, serif;
    font-size: 1em;
    line-height: 1.618em;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin:0 0 0.809em 0;
    line-height: 1.2em;
}

h4{
    font-family: 'CorporateABold', Georgia, "Times New Roman", Times, serif;
}

h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; margin-bottom: 0.125em; padding: 0;}

p, ul, ol, dl, blockquote, address {
    font-size: 1em;
    line-height: 1.518em;
    margin: 0 0 1.618em 0;
    padding: 0;
}
