[submodule "odoo"]
	path = odoo
	url = https://github.com/odoo/odoo.git
	branch = 8.0
[submodule "addons-thirdparty/server-tools"]
	path = addons-thirdparty/server-tools
	url = https://github.com/OCA/server-tools.git
	branch = 8.0
[submodule "addons-thirdparty/web"]
	path = addons-thirdparty/web
	url = https://github.com/OCA/web.git
	branch = 8.0
[submodule "addons-thirdparty/partner-contact"]
	path = addons-thirdparty/partner-contact
	url = https://github.com/OCA/partner-contact.git
	branch = 8.0
[submodule "addons-thirdparty/project-service"]
	path = addons-thirdparty/project-service
	url = https://github.com/OCA/project-service.git
	branch = 8.0
[submodule "addons-thirdparty/aeroolib"]
	path = addons-thirdparty/aeroolib
	url = https://github.com/aeroo/aeroolib.git
	branch = master
[submodule "addons-thirdparty/aeroo_reports"]
	path = addons-thirdparty/aeroo_reports
	url = https://github.com/aeroo/aeroo_reports.git
	branch = master
[submodule "addons-thirdparty/odoo-india"]
	path = addons-thirdparty/odoo-india
	url = https://github.com/Odoo-India/odoo-india.git
	branch = master
[submodule "addons-thirdparty/opensur"]
	path = addons-thirdparty/opensur
	url = https://github.com/OpenSur/Odoo_addons.git
	branch = 8.0
[submodule "addons-thirdparty/ascone-addons"]
	path = addons-thirdparty/ascone-addons
	url = https://github.com/acsone/acsone-addons.git
	branch = 8.0
[submodule "addons-thirdparty/website"]
	path = addons-thirdparty/website
	url = https://github.com/OCA/website.git
	branch = 8.0
