# Created by .gitignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#odoo
data_dir/
/*.conf
/*.init
/*.log

#Mac OSX
.DS_*
