/* Fix display of followers */
.openerp .oe_followers .oe_invite {
    float: none !important;
    display: block;
}

/* Better visibility for chatter message threads */
.openerp .oe_mail > .oe_thread > .oe_msg {
    margin-bottom: 0;
    border: solid 1px #eee;
}

.openerp .oe_mail > .oe_thread > .oe_thread {
    border: solid 1px #eee;
    border-top: none;
    padding: 16px;
    box-shadow: 0 4px 18px #eee;
}

.openerp .oe_mail .oe_thread {
    margin-left: 0;
    margin-bottom: 1.5em;
}

.openerp .oe_mail .oe_msg_indented {
    /* border: 1px solid #f7f7f7; */
    margin-bottom: 8px;
}

.openerp .oe_mail .oe_msg_indented.oe_msg_comment {
    border: none;
}

.openerp .oe_mail .oe_msg.oe_msg_expandable {
    border: none;
}
