/* Set forms to use nearly the full width */
.openerp .oe_form_sheet_width {
    max-width: 97% !important;
}
.openerp .oe_form_sheet_width {
    max-width: 97%;
}

.openerp .oe_kanban_view .oe_kanban_vignette {
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.28) 1px 1px 2px;
    background-color: white;
    margin: 3px;
}

.openerp .oe_title {
    width: 100%;
}
.openerp .oe_tags.oe_inline {
    min-width: 100%;
}

/* Min height for modal boxes */
.modal-body {
    min-height: 600px;
}

/* Smaller kanban titles */
.openerp .oe_kanban_view .oe_kanban_group_title .oe_kanban_group_title_text {
    font-size: 10px;
}
